<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>nopE!!!</h1>
        <h2>Builing my first Sails app!</h2>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>